<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    </meta>
    <title>初始Vue2</title>
    <!-- 引入Vue -->
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        <h1>名称 {{name}}</h1>
        <h1>年龄 {{age}}</h1>
        <a v-bind:href="school.url" v-bind:x="hello"></a>
        单向数据绑定：<input type="text" :value="name"><br />
        双向数据绑定：<input type="text" v-model="name"><br />

        <button @click="showInfo1">点我一下1</button><br />
        <button @click="showInfo2(66, $event)">点我一下2</button><br />

        <br /><br />
        姓：<input type="text" v-model="xing"><br /><br />
        名：<input type="text" v-model="ming"><br /><br />
        姓名：<span>{{fullName}}</span><br />
    </div>
    <script type="text/javascript">
        // 关闭提示
        Vue.config.productionTip = false
        const vm = new Vue({
            // el: "#root",// 用于指定当前vue实例为哪个容器服务，值通常为css选择字符串
            // data: {
            //     name: '颠三倒四',
            //     hello: "你好",
            //     age: 29,
            //     school: {
            //         url: "https://cn.vuejs.org/v2/guide/installation.html#Vue-Devtools",
            //         hello: "good"
            //     }
            // }
            data() {
                return {
                    name: '颠三倒四',
                    hello: "你好",
                    xing: "张",
                    fullName: '张-三',
                    ming: "三",
                    age: 9,
                    school: {
                        url: "https://cn.vuejs.org/v2/guide/installation.html#Vue-Devtools",
                        hello: "good"
                    }
                }
            },
            computed: {
                // fullName: {
                //     get() {
                //         return this.xing + '-' + this.ming
                //     }
                // },
            },
            methods: {
                showInfo1(event) {
                    console.log(event.target.innerText)
                    alert("同学你好")
                },
                showInfo2(a, b, c, d) {
                    console.log(a, b)
                    alert("同学你好")
                },
                fullName1() {
                    return this.xing + '-' + this.ming
                }
            },
            watch: {
                xing(val) {
                    // 注意这里的箭头函数是必须的。使函数内没有自己的this。向外寻找到xing(val)的this。也就是vm。
                    // 如果写普通函数，就有了自己的this。就是调用者了。
                    setTimeout(() => {
                        this.fullName = val + '-' + this.ming
                    }, 1000);
                },
                ming(val) {
                    this.fullName = this.xing + '-' + val
                }
            }
        })

        console.log('xxx', vm)
        vm.$mount("#root")
    </script>
</body>

</html>